#nav .nav{
    position: relative;
}
/* #nav .nav > a {
  font: 14px/33px "";
  padding: 0 17px 0 15px;
  color: white;
} */

#nav .nav >.speci{
   
    width: 200px;
    position: absolute;
    height: 40px;
    background-color: firebrick;
    left: 0;
    top:-4px;
    font: 12px/40px "";
    text-indent: 2em;
    font-weight: 800;
    color: white;

}
#nav .nav >.speci>a{
    color: white;
}
#nav .nav .goodsort {

    display: none;
  }
/* #nav .nav > span {
  font: 14px/33px "";
  color: crimson;
}

  #nav .nav .goodsort .goodsort-inter {
  }
  #nav .nav .goodsort .goodsort-inter{
      
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(1) {
    
    height: 40px;
    background-color: firebrick;
   
    font: 12px/40px "";
    text-indent: 2em;
    font-weight: 800;
    color: white;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(2) {
    
    font: 12px/20px "";
    padding: 8px 0 0 14px;
    background-color: whitesmoke;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(2) .first span {
    margin-right: 4px;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(3) {
    font: 12px/20px "";
    padding: 8px 0 0 14px;
    background-color: #cccccc;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(3) .sec span {
    margin-right: 4px;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(4) {
    font: 12px/20px "";
    padding: 8px 0 0 14px;
    background-color: whitesmoke;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(4) .thrd span {
    margin-right: 4px;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(5) {
    font: 12px/20px "";
    padding: 8px 0 0 14px;
    background-color: #cccccc;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(5) .four span {
    margin-right: 4px;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(6) {
    font: 12px/20px "";
    padding: 8px 0 0 14px;
    background-color: whitesmoke;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 84px;
  }
  #nav .nav .goodsort .goodsort-inter li:nth-child(6) .five span {
    margin-right: 4px;
  }
  
   */
#clear{
}
#clear .clear{
    height: 10px;

}
#gd-banner{
   
} 
#gd-banner .gd-banner{
    height: 153px;
    background: darkblue;
    overflow: hidden;
} 
#gd-banner .gd-banner{} 
#gd-case-1{}
#gd-case-1 .gd-case-1{
    border:1px solid grey;
    width: 1198px;
    height: 2128px;
    background:darkcyan;
}
#gd-case-1 .gd-case-1 .gd-case-1-con{
    
    width: 1152px;
    height: 2082px;
    position: relative;
    padding: 23px;
    background: darkgreen;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .tile{
    
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .tile .utile{
    display: flex;
    
}
#gd-case-1 .gd-case-1 .gd-case-1-con .tile .utile li{
    height: 28px;
    width: 135px;
    background-color: #ccc;
    border:1px solid rgba(0,0,0,.5);
    border-bottom: none;
    font:14px/28px "";
    margin-left: 5px;
    text-align: center;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .gd-case-1-con-list{
    height: 165px;
    margin-bottom: 10px;
    background: darkorange;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .gd-case-1-con-list{
    display: flex;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .gd-case-1-con-list .gd-list-l{
    width: 167px;
    height: 165px;
    background:darkcyan;
    
}
#gd-case-1 .gd-case-1 .gd-case-1-con .gd-case-1-con-list .gd-list-c{
    width: 680px;
    height: 165px;
    margin:0 10px 0 10px;
    background:firebrick;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .gd-case-1-con-list .gd-list-r{
    width: 196px;
    height: 165px;
    background:fuchsia;
}

#gd-case-1 .gd-case-1 .gd-case-1-con .paging{
    width: 904px;
    height: 36px;
    background:darkslateblue;
    position: absolute;
    left: 23px;
    bottom: 0;
}
#gd-case-1 .gd-case-1 .gd-case-1-con .paging{}

#void{}
#void .void{
    height: 12px;
    
}